**,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
}

.content {
    padding: 10px;
    width: 90%;
    min-width: 270px;
    max-width: 430px;
}

h1 {
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.password_display_box {
    position: relative;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    padding-top: 0.35rem;
}

.password_display {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    border: none;
}

.password_display::placeholder {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--vb-yellow);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.password_copy_button {
    background: transparent;
    border: none;
    position: absolute;
    top: 60%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.password_generate_box {
    max-width: 100%;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    padding: 30px;
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin-top: 17px;
}

.password_length_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password_length_box p {
    color: var(--pl-white);
    font-size: 1.5rem;
}

#password_length {
    color: var(--vb-yellow);
    font-size: 1.5rem;
}

.slider_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#slider {
    width: 90%;
}

.password_characters div {
    margin-bottom: 10px;
}

label {
    color: var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
    margin-left: 5px;
}

.password_characters input {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    top: 8px;
    border-radius: 0.35rem;
}

.password_characters input:checked {
    background-color: var(--vb-cyan);
}

.password_characters input:checked::after {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 800;
    left: 50%;
    top: -10px;
    transform: translateX(-50%) translateY(40%);
}

.slider_div input {
    appearance: none;
    height: 0.8rem;
    width: 100%;
    cursor: pointer;
    background-color: var(--lt-violet);
    border-radius: 1rem;
    box-sizing: border-box;
    background: linear-gradient(var(--vb-violet), var(--vb-violet));
    border: none;
    background-repeat: no-repeat;
}

.slider_div input::-webkit-slider-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    filter: drop-shadow(0 0 10px var(--vb-yellow));
}

.slider_div input::-webkit-slider-thumb:hover {
    background-color: black;
    border: 2px solid var(--vb-yellow);
}

.slider_div input:active {
    border: 2px solid var(--vb-yellow);
}

.password_strength_display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password_strength_display p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.5rem;
}

.strength_color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--pl-white);
    box-shadow: 0px 0px 20px var(--pl-white);
}

.generate_password_button {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
}


/* copied display text css */
.password_copied_text {
    color: var(--vb-yellow);
    position: absolute;
    top: -35px;
    left: 10px;
    font-weight: 800;
    opacity: 0;
    transition-duration: 0.5s;
    background-color: var(--vb-violet2);
    padding: 4px;
    border-radius: 1rem;
}

.active {
    opacity: 1;
    transform: translateY(-10px);
    transition-duration: 1s;
}

@media (max-width:499px) {
    h1 {
        font-size: 1.3rem;
    }

    .password_display {
        font-size: 0.7rem;
    }

    .password_display::placeholder {
        font-size: 0.8rem;
    }

    .password_copy_button img {
        width: 25px;
    }

    .password_length_box p {
        font-size: 1.2rem;
    }

    #password_length {
        font-size: 1.2em;
    }


    .password_strength_display p:nth-child(1) {
        font-size: 1.2rem;
    }

    .strength_color {
        width: 17px;
        height: 17px;
    }

    label {
        font-size: 1.1rem;
        letter-spacing: 0.55px;
    }
}

s